@model IEnumerable<ProductModel>
@using B1809531_EShop_MVC6.Helpers;

<table class="table table-bordered table-hover dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
        <tr>
            <th class="col-sm-12 col-md-4">
                Tên
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá niêm yết (VNĐ)
            </th>

            <th>
                Giá sau giảm (VNĐ)
            </th>

            <th class="col-sm-12 col-md-3"></th>
        </tr>
    </thead>

    <tbody>

        @{
            if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Productname)
                        </td>
                        <td>
                            <img src="/@(GetPath.ProductImage + (item.Productimages.FirstOrDefault().Productimageurl) )" class="list-image" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Productquantity)
                        </td>
                        <td>
                            @String.Format("{0:n0}", item.Productprice)
                        </td>
                        <td>
                            @String.Format("{0:n0}", item.Productsaleprice)
                        </td>

                        <td class="right">
                            <a asp-action="Details" asp-route-id="@item.Productid" class="btn btn-info">Chi tiết</a>
                            <a asp-action="Edit" asp-route-id="@item.Productid" class="btn btn-warning">Chỉnh sửa</a>
                            <a asp-action="Delete" asp-route-id="@item.Productid" class="btn btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            }
           
        }

    </tbody>
</table>
                  

