@model B1809531_EShop_MVC6.Entities.Brand

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brandname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brandname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brandcreateddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brandcreateddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brandimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brandimage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Brandid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
